@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');
:root {
    --header-font: "Radio Canada", sans-serif;
    --showcase-font: "Playfair Display", serif;
    --showcase-color: #4A4A4A;
    --workshop-color: #227c9d;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a {
    display: inline-block;
}

/* Sliding picture */
.header-img{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #423939;
    z-index: 0;
}
.background-image-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    z-index: -1;
    transition: opacity 3s ease-in-out;
}


/* Call to arms */
.call-to-arms{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-end;
}
#large-logo{
    height: 200px;
    width: auto;

}
.start-here{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 1% 0%;
    height: 50%;
    width: 50%;
    align-items: start;
}
.starthereimg{
    height: 50px;
    width: 250px;
    border-radius: 5px;
}
.start-here a, .start-here button{
    width: 250px;
    color: white;
    background-color: #4A4A4A;
    border-radius: 2rem;
    cursor: pointer;
    font-family: var(--header-font);
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}
/* NAV RELATED ITEMS */
a:link {
    text-decoration: none;
    color: var(--header-font);
}
a:visited{
    color: var(--header-font);
}
a:hover{
    text-decoration: underline;
}
main {
    height: 100vh;
    width: 100%;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    opacity: 1;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    backdrop-filter: blur(8px);
}
.large-logo-cont{
    height: 100%;
    width: 50%;
    margin:0 0 20px 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    justify-content: end;
}
#logo-craft{
    margin-right: auto;
    font-weight: bold;
    margin-left: 3rem;
}
.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-family: var(--header-font);
    text-transform: uppercase;
    letter-spacing: 2.5px;
    height: 100%;
    gap: 25px;
    flex: 1;
}
#logo{
    height: 300px;
    width: 200px;
}
#full-logo{
    min-height: 50px;
    max-height: 100px;
    width: auto;
}

.nav-links{
    justify-content: end;
    margin-right: 2%;
    flex-wrap: wrap;
}

.nav-activated {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    
}

.nav-activated .nav-items {
    color: black;
    text-shadow: none;
}

.nav-activated a {
    color: black;
}



/* Showcase and philosophy paragraphs */
.middle-part{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: 1400px;
    margin: 0 auto;

}
.divider{
    height: 8vh;
}
.middle-part img{
    height: 40vh;
    width: auto;

}
.showCaseOne {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-right: 20%;
    flex-direction: row-reverse;
    flex: 1;
}
 .showCaseTwo{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 28%;
}
.showCaseThree { 
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-right: 20%;
    flex-direction: row-reverse;
}
.showCaseOne figcaption, .showCaseTwo figcaption, .showCaseThree figcaption{
    font-family: var(--showcase-font);
    color: var(--showcase-color);
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-align: center;
}

figure > section{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 3rem;
}
figure > section > p{
    align-self: end;
    font-size: 1rem;
    font-family: var(--header-font);   margin-right: 5%;
    position: relative;
    cursor: pointer;
}
figure > section > p::after {
    content: ' >';
    position: absolute;
    right: -25px;
    top: 48%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

figure > section > p:hover::after {
    transform: translateY(-50%) translateX(5px);
    }
figure > section > h3{
    align-self: center;
    font-size: 2rem;
    color: #414833;
    letter-spacing: 2px;
}

.showCaseOne, .showCaseTwo, .showCaseThree {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
}





/* workshop section */
.background-workshop{
    display: flex;
    height: 120vh;
    width: 100%;
    position: relative;
    z-index: 0;
    background-size: cover;
}

.background-workshop figure{
    width: 100%;
    height: 120vh;
    z-index: -1;
}
.background-workshop img{
    height: 100%;
    width: 100%;
    z-index: -1;
}

.workshop-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    margin: 0 auto;
    width: 100%;
    min-height: 120vh;
    background: url('./img/kelli-tungay-Sj0nhVIb4eY-unsplash.jpg') center center/cover no-repeat;
    z-index: -1;
    padding-bottom: 3rem;
}
.workshop-container > header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-family: var(--showcase-font);
    color:#dce6c8;
    margin-top: 20px;
}

.workshop-container > header > h3{
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}


.workshop-container > header > p{
    max-width: 30%;
    font-family: var(--showcase-font);
    color: var(--showcase-color);
    font-size: 1.2rem;

}


.workshop-container > figure{
    display: flex;
    justify-content: center;
    gap: 15%;
}
.workshop-container img{
    height: 50vh;
    width: auto;
    flex: 1 1 auto;
}
.workshop-container div:hover
{
    scale: 1.1;
    transition: 2s ease;
}
.workshop-container h3{
    text-align: center;
}
.workshop-container div{
    display: flex;
    flex-direction: column;
}
#watercolour, #canvas-title{
    height: 50px;
}


footer{
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: -10;
    align-items: center;
    flex: 1 1 auto;
    font-size: 0.7rem;
    color: white;
    font-family: var(--header-font);
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    height: 50px;
    background-color: rgba(231, 202, 202, 0.7);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
}












@media screen and (max-width: 768px) {

    .call-to-arms{
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    .start-here{

        width: 100%;
        height: 15%;
        align-items: center;
    }
    
        .large-logo-cont{
        background-color: white;
        opacity: 0.8;
        border-radius: 20px;
        height: 20%;
        max-width: 280px;
        align-items: center;
    }
        #large-logo{
        height: 125px;
        width: auto;
    }

    #logo-craft {
        margin-left: 1rem;
    }


    .middle-part {
        padding: 2rem 1rem;
        align-items: center;
    }

    .showCaseOne, .showCaseTwo, .showCaseThree {
        flex-direction: column !important;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    figure figcaption {
        width: 100%;
        max-width: none;
        padding: 1rem;
        text-align: center;
        font-size: 1.2rem;
    }

    figure img {
        width: 100%;
        height: auto;
        order: -1;
    }

    figure > section {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    figure > section > h3 {
        margin-bottom: 1rem;
    }
}











@media screen and (max-width: 480px) {
    .nav-items {
        font-size: 0.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 1%;
        gap: 10px;
    }

    .nav-links{
        height: 80px;
        padding: 0;
    }
    #logo-craft img{
        min-width: 120px;
        min-height: 80px;
        padding-top: 20px;
    }
    #logo {
        max-width: 100%;
        width: auto;
    }

    .starthereimg{
        max-width: 100%;
    }
    
    figure figcaption {
        padding: 0 1rem;
        font-size: 1.1rem;
        max-width: none
    }

}